body, html{
  height: 100%;
  margin: 0;
}

.Grid{
  flex-grow: 1;
}

.root {
  margin: 1.5em;
  padding:1.25em;
}

.title {
  fontSize: 18;
  fontWeight: 500,
}
.pos{
  marginBottom: 12,
}

.rotateText{
}

.background{
  background-image: url("parallex.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 59em;
}
